body{
    background-color: white
}
.bg-light-dark{
    background-color: #acc1d5;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
  margin-top: 40px;


}